body{
    
    background-image: linear-gradient(160deg, #bc58ae 0%, #80D0C7 100%);
    }
    
    .headerr{
        text-align: center;
        background-color: rgba(26, 151, 213, 0.627);
        border-radius: 400px;
        color: white;
        font-family: cursive;
    }
    
    .texto{
        text-align: center;
    }
    
    center{
        margin-top: 40px;
    }
    
    .logo{
        width: 400px;
        height: 250px;
        border-radius: 40px;
    }
    
    .boton{
        margin-bottom: 40px;
        bottom: unset;
        color: #000000;
        font-family: cursive;
        background-color: rgba(209, 24, 52, 0.858);
    }
    
    
    .arroz{
        color: black;
    }